.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.container a {
    margin: 10px;
}
  
.container img {
    width: 200px;
    height: 200px;
}